body{
    width: 80%;

}

.blog{
    position: relative;
    margin-left: 30%;
}
.blog h1{
    font-family:  sans-serif;
    background-color: aqua;
    text-align: center;
}

p{
    font-family: monospace;
    font-size: xx-large;
}