body{
    width: 80%;

}

.blog{
    position: relative;
    margin-left: 30%;
}
.blog h1{
    font-family:  sans-serif;
    background-color: aqua;
    text-align: center;
}

p{
    font-family: monospace;
    font-size: xx-large;
}

.texto1{
    color: cadetblue;
    background-color: darkolivegreen;
}

.texto3{
    background-color: deeppink;
}

.texto4 p{
    color: pink;
    background-color: blue;
}

.texto5{
    color: aquamarine;
    background-color: black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}


.texto3{
    background-color: deeppink;
}

.texto6{
    color: gold;
    background-color: darkslategrey;
}

.post2{
    color: red;
    background-color: beige;
}

.post p{
    font-family: fantasy;
    color: silver;
}

.post3{
    color: yellow;
    background-color: aqua;
}